<footer id="footer">
  <div class="wrapper">
    <ul>
      <li class="foot-item"><a href="#homepage">
          <div class="four homepage choose"><span class="icon content"></span><span class="text content">
              <p>微信</p>
            </span></div>
        </a></li>
      <li class="foot-item"><a href="#content">
          <div class="four address-list"><span class="icon content"></span><span class="text content">
              <p>通讯录</p>
            </span></div>
        </a></li>
      <li class="foot-item"><a href="#find">
          <div class="four find"><span class="icon content"></span><span class="text content">
              <p>发现</p>
            </span></div>
        </a></li>
      <li class="foot-item"><a href="#">
          <div class="four me"><span class="icon content"></span><span class="text content">
              <p>我</p>
            </span></div>
        </a></li>
    </ul>
  </div>
</footer>
