<header id="header">
  <div class="head">
    <div class="status">
      <div class="baseinfo">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="currenttime">
        <span></span><span></span>
      </div>
      <div class="battery">
        <span></span><span></span>
      </div>
    </div>
    <div class="title">
      <div class="title-inner weixin">
        <!-- <div class="center"></div> -->
        <div class="op"></div>
      </div>
    </div>
  </div>
</header>
